<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Monster Factory</ion-title>
        <ion-buttons slot="end">
            <ion-button color="primary" (click)="restartGame()">
                <ion-icon name="refresh-outline"></ion-icon>
            </ion-button>
            <ion-button color="primary" (click)="goToGithub()">
                <ion-icon name="logo-github"></ion-icon>
            </ion-button>
            <ion-button color="primary" (click)="openModal()">
                <ion-icon name="help-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <!-- NOTHING HERE FOR NOW -->
</ion-content>
<!-- ! Important:  This is the ID that's required for phaser to run in the phaser instance service. -->
<div class="phaser" id="monster-factory-main">
</div>
